# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.Songs/

AHK Tester.ahk
format songs popup.txt

# Executables
*.exe

*.png
*.jpg
*.ai
*.mp3
*.zip
*.bak

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
